<!--<html manifest="/manifest.appcache">-->
<html>
<head>
  <title>Flash Cards</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- build:css styles/css/app.css -->
  <!-- bower:css -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="../bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href="styles/css/app.css" rel="stylesheet" />
  <!-- endbower -->
  <!-- endbuild -->
</head>
<body ng-app="flashCardsModule">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="MenuController">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="flashCards" class="navbar-brand">Flash Cards</a>
    </div>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav pull-right">
        <li><a href="#" title="Points"><span class="badge">{{score()}}</span> Points</a></li>
        <li><a ui-sref="stats"><i class="fa fa-lg fa-bar-chart-o"></i>Stats</a></li>
        <li><a ui-sref="about"><i class="fa fa-lg fa-sun-o"></i>About</a></li>
        <!--<li><a ui-sref="settings"><i class="fa fa-lg fa-cog"></i>Settings</a></li>-->
        <li><a ng-click="actions.sync()"><i class="fa fa-lg fa-cogs"></i>Synchronize</a></li>
        <!--<li><a ui-sref="login"><i class="fa fa-lg fa-sign-in"></i>Login</a></li>-->
      </ul>
    </div>
  </nav>

  <div class="container">
    <div ui-view></div>
  </div>

  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">
        <div class="text-center text-vertical">
          Copyright &copy; 2014 Cristian Florin Zlatea | <a href="https://github.com/czlatea/flashcards" target="_blank">Source Code</a>
        </div>
      </div>
    </nav>

    <!-- build:js scripts/app.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/lodash/dist/lodash.min.js"></script>
    <script src="../bower_components/momentjs/min/moment.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="scripts/flash-cards.js"></script>
    <script src="scripts/services/words.js"></script>
    <script src="scripts/services/flash-cards-service.js"></script>
    <script src="scripts/controllers/menu-controller.js"></script>
    <script src="scripts/controllers/flash-cards-controller.js"></script>
    <script src="scripts/controllers/stats-controller.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
  </footer>


  <script type="text/ng-template" id="settings">
    Settings template
  </script>

  <script type="text/ng-template" id="about">
    <p>This application is based on <b>Leitner System</b></p>
    <p>
      Leitner's system consists of a cardboard box separated into a number of compartments. New words are added to the compartment 1. The compartments are filled with flashcards and the flashcards are moved from one compartment to another, according to the current level of knowledge. When a flashcard is answered correctly it is moved to the next higher compartment. When a flashcard is answered incorrectly it is moved back to the first compartment.
    </p>
    <p>
      The Leitner System is a popular method of studying with flashcards using spaced repetition. The compartments should be reviewed after a certain time (or when they are full, if you use paper flash cards) and then, the flashcards should be moved up-wards or down-wards.
    </p>

    <img class="img-responsive" src="images/leitner_system.png" />

    </p>
    <p>
      The Leitner System allows you to prioritize your studying, focusing on flashcard (words). Flashcards which you know, are moved without a lot of efforts to higher compartments, and flashcards, which you have trouble to memorize are more often repeated.
    </p>
    <p>
      According to the Leitner System, when you can memorize a word after a long period of time from the 5th compartment, then you will be able to memorize this word forever.
    </p>
  </script>

  <script type="text/ng-template" id="stats">
    <div ng-controller="StatsController">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Number of practiced words per deck
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li ng-repeat="item in getStats()" class="list-group-item">
              {{item.name}}
              <span class="badge">{{item.count}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="login">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Login</h3>
        <div class="row">
          <div class="col-sm-5">
            <hr />
          </div>
          <div class="col-sm-2 text-center text-vertical">
            or
          </div>
          <div class="col-sm-5">
            <hr />
          </div>
        </div>
        <button class="btn btn-lg btn-primary"><i class="fa fa-lg fa-facebook"></i>Facebook</button>
      </div>
    </div>


  </script>

  <script type="text/ng-template" id="flashCards">
    <div ng-controller="FlashCardsController">
      <div class="panel panel-primary" ng-hide="noWords">
        <div class="panel-heading panel-title">
          {{word().box}}.{{word().en}}
        </div>

        <div class="panel-body" ng-switch="state" ng-class="cssClass()">
          <div ng-switch-default>
            <textarea class="col-sm-12 x-no-border" rows="2" placeholder="Type here the translation" ng-model="$parent.translation" auto-focus></textarea>
          </div>

          <div ng-switch-when="success" ng-click="actions.next()">
            <p>You are correct</p>
            Expected Translation: {{word().de}}<br />
            Your Translation:{{translation}}<br />
            Points:+{{word().points}}<br />
            Total Points {{score()}}
          </div>

          <div ng-switch-when="error" ng-click="actions.next()">
            <p>You are wrong !</p>
            Expected Translation: {{word().de}}<br />
            Your Translation:{{translation}}<br />
            Points:{{word().points}}<br />
            Total Points {{score()}}
          </div>
        </div>

        <div class="panel-footer" ng-hide="state!==null">
          <button type="button" class="btn btn-lg btn-success" ng-click="actions.submit()">Submit<i class="fa fa-lg fa-check"></i></button>
          <!--<button type="button" class="btn btn-lg btn-danger pull-right" ng-click="actions.next()">Next<i class="fa fa-lg fa-arrow-right"></i> </button>-->
        </div>

        <shortcut></shortcut>
      </div>

      <div ng-show="noWords">
        <p class="x-message text-center">No words at this moment. Please try later !</p>
      </div>
    </div>
  </script>
</body>
</html>
